<template>
    <div>
        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="footer__title">
                            EDHunter
                        </div>
                        <ul class="footer__list">
                            <li>
                                <a href="/jobs">Найти работу</a>
                            </li>
                            <li>
                                <a href="/resumes">Найти сотрудников</a>
                            </li>
                            <li>
                                <a target="_blank" href="/about-us/conditions/">Условия использования</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer__title">
                            Работодателю
                        </div>
                        <ul class="footer__list">
                            <li>
                                <a href="/resumes?categories[]=1&categories[]=3&categories[]=4&categories[]=12">Администрация</a>
                            </li>
                            <li>
                                <a href="/resumes?categories[]=37&categories[]=35&categories[]=34&categories[]=33&categories[]=32&categories[]=31">Научные сотрудники</a>
                            </li>
                            <li>
                                <a href="/resumes?categories[]=7&categories[]=5&categories[]=30&categories[]=29">Преподаватели / Репетиторы</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer__title">
                            Соискателю
                        </div>
                        <ul class="footer__list">
                            <li>
                                <a href="/jobs?cities[]=604">Работа Москва</a>
                            </li>
                            <li>
                                <a href="/jobs?cities[]=825">Работа Санкт-Петербург </a>
                            </li>
                            <li>
                                <a href="/jobs?cities[]=275">Работа Екатеринбург </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer__title">
                            Мы в социальных сетях
                        </div>
                        <ul class="footer__list social">
                            <li>
                                <a href="https://vk.com/club85076772">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 22 13"
                                            width="22px" height="13px">
                                        <path fill-rule="evenodd"  opacity="0.329" fill="rgb(255, 255, 255)"
                                              d="M21.882,11.741 C21.855,11.681 21.830,11.632 21.807,11.592 C21.426,10.880 20.696,10.006 19.620,8.970 L19.597,8.946 L19.586,8.934 L19.574,8.922 L19.562,8.922 C19.074,8.440 18.764,8.116 18.635,7.949 C18.398,7.632 18.345,7.312 18.474,6.987 C18.566,6.742 18.910,6.225 19.505,5.433 C19.818,5.014 20.066,4.678 20.249,4.425 C21.570,2.605 22.143,1.441 21.967,0.935 L21.899,0.817 C21.853,0.746 21.735,0.681 21.544,0.621 C21.353,0.562 21.109,0.552 20.811,0.592 L17.513,0.615 C17.459,0.596 17.383,0.598 17.284,0.621 C17.184,0.645 17.135,0.657 17.135,0.657 L17.077,0.687 L17.032,0.722 C16.994,0.746 16.952,0.787 16.906,0.847 C16.860,0.906 16.822,0.975 16.791,1.054 C16.432,2.012 16.024,2.902 15.566,3.725 C15.283,4.215 15.024,4.640 14.787,5.000 C14.550,5.360 14.352,5.625 14.191,5.795 C14.031,5.965 13.886,6.102 13.756,6.205 C13.626,6.308 13.527,6.351 13.459,6.335 C13.390,6.320 13.325,6.304 13.264,6.288 C13.157,6.217 13.071,6.120 13.006,5.997 C12.941,5.874 12.897,5.720 12.874,5.534 C12.851,5.348 12.838,5.188 12.834,5.054 C12.831,4.919 12.832,4.729 12.840,4.484 C12.848,4.239 12.851,4.072 12.851,3.985 C12.851,3.685 12.857,3.359 12.869,3.006 C12.880,2.654 12.889,2.375 12.897,2.170 C12.905,1.964 12.909,1.746 12.909,1.517 C12.909,1.288 12.895,1.108 12.869,0.977 C12.842,0.847 12.802,0.720 12.749,0.597 C12.695,0.475 12.617,0.380 12.514,0.312 C12.411,0.245 12.283,0.192 12.130,0.152 C11.725,0.057 11.210,0.006 10.584,-0.002 C9.164,-0.018 8.251,0.077 7.847,0.283 C7.686,0.370 7.541,0.488 7.411,0.639 C7.274,0.813 7.255,0.908 7.354,0.924 C7.812,0.995 8.136,1.165 8.327,1.434 L8.396,1.576 C8.450,1.679 8.503,1.861 8.556,2.122 C8.610,2.383 8.644,2.672 8.660,2.988 C8.698,3.566 8.698,4.061 8.660,4.472 C8.621,4.883 8.585,5.204 8.551,5.433 C8.516,5.662 8.465,5.849 8.396,5.991 C8.327,6.133 8.282,6.220 8.259,6.252 C8.236,6.283 8.217,6.304 8.201,6.311 C8.102,6.351 7.999,6.371 7.892,6.371 C7.785,6.371 7.655,6.315 7.503,6.204 C7.350,6.094 7.192,5.941 7.027,5.748 C6.863,5.553 6.678,5.283 6.472,4.934 C6.266,4.586 6.052,4.175 5.831,3.700 L5.647,3.356 C5.533,3.135 5.376,2.812 5.178,2.389 C4.979,1.966 4.804,1.556 4.651,1.161 C4.590,0.995 4.498,0.868 4.376,0.781 L4.319,0.745 C4.281,0.714 4.220,0.680 4.136,0.645 C4.052,0.609 3.964,0.583 3.872,0.567 L0.734,0.591 C0.413,0.591 0.196,0.666 0.081,0.816 L0.035,0.888 C0.012,0.927 0.001,0.991 0.001,1.078 C0.001,1.165 0.024,1.271 0.070,1.398 C0.528,2.514 1.026,3.589 1.564,4.626 C2.103,5.662 2.570,6.497 2.967,7.130 C3.364,7.763 3.769,8.360 4.181,8.922 C4.594,9.483 4.867,9.844 5.000,10.002 C5.134,10.160 5.239,10.279 5.315,10.358 L5.602,10.643 C5.785,10.832 6.054,11.060 6.409,11.325 C6.764,11.590 7.157,11.851 7.589,12.108 C8.020,12.365 8.522,12.575 9.095,12.737 C9.667,12.899 10.225,12.965 10.767,12.933 L12.084,12.933 C12.351,12.909 12.554,12.822 12.691,12.672 L12.737,12.612 C12.767,12.565 12.796,12.492 12.823,12.393 C12.849,12.294 12.863,12.185 12.863,12.067 C12.855,11.727 12.880,11.420 12.937,11.147 C12.994,10.874 13.059,10.669 13.132,10.530 C13.205,10.392 13.287,10.274 13.378,10.180 C13.470,10.085 13.535,10.028 13.573,10.008 C13.611,9.988 13.641,9.974 13.664,9.967 C13.848,9.903 14.063,9.965 14.312,10.151 C14.560,10.336 14.793,10.566 15.010,10.839 C15.228,11.112 15.489,11.418 15.795,11.758 C16.100,12.099 16.368,12.352 16.597,12.518 L16.826,12.660 C16.978,12.755 17.177,12.842 17.421,12.921 C17.665,13.001 17.879,13.021 18.063,12.981 L20.994,12.934 C21.284,12.934 21.510,12.884 21.670,12.785 C21.830,12.686 21.926,12.577 21.956,12.459 C21.987,12.340 21.989,12.205 21.962,12.055 C21.935,11.905 21.908,11.800 21.882,11.741 Z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/rosvuzofficial/">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 9 18"
                                            width="9px" height="18px">
                                        <path fill-rule="evenodd"  opacity="0.329" fill="rgb(255, 255, 255)"
                                              d="M6.133,17.989 L6.133,9.891 L8.591,9.891 L8.993,6.291 L6.133,6.291 L6.133,4.538 C6.133,3.612 6.157,2.692 7.451,2.692 L8.763,2.692 L8.763,0.118 C8.763,0.079 7.636,-0.008 6.497,-0.008 C4.117,-0.008 2.627,1.483 2.627,4.221 L2.627,6.291 L-0.003,6.291 L-0.003,9.891 L2.627,9.891 L2.627,17.989 L6.133,17.989 Z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 11 19"
                                            width="11px" height="19px">
                                        <path fill-rule="evenodd"  opacity="0.329" fill="rgb(255, 255, 255)"
                                              d="M10.713,11.506 C10.145,12.109 9.463,12.546 8.705,12.851 C7.988,13.139 7.203,13.284 6.426,13.380 C6.544,13.513 6.599,13.578 6.672,13.654 C7.727,14.753 8.787,15.848 9.839,16.950 C10.197,17.326 10.271,17.792 10.074,18.229 C9.859,18.706 9.376,19.020 8.902,18.987 C8.602,18.965 8.368,18.810 8.161,18.594 C7.364,17.763 6.553,16.947 5.773,16.101 C5.546,15.855 5.437,15.901 5.237,16.115 C4.436,16.970 3.622,17.812 2.803,18.649 C2.435,19.025 1.998,19.093 1.571,18.878 C1.118,18.651 0.830,18.171 0.852,17.688 C0.867,17.362 1.022,17.113 1.238,16.890 C2.282,15.809 3.323,14.725 4.365,13.642 C4.434,13.570 4.498,13.494 4.598,13.382 C3.178,13.229 1.897,12.866 0.801,11.977 C0.665,11.866 0.524,11.759 0.400,11.636 C-0.080,11.158 -0.128,10.610 0.252,10.046 C0.577,9.564 1.122,9.434 1.689,9.712 C1.799,9.765 1.903,9.833 2.003,9.904 C4.047,11.361 6.854,11.401 8.905,9.970 C9.108,9.809 9.325,9.677 9.577,9.609 C10.067,9.479 10.523,9.666 10.786,10.110 C11.086,10.617 11.082,11.112 10.713,11.506 ZM5.464,9.617 C2.930,9.608 0.852,7.430 0.867,4.798 C0.881,2.137 2.961,-0.007 5.519,0.001 C8.083,0.008 10.141,2.183 10.129,4.871 C10.115,7.497 8.023,9.626 5.464,9.617 ZM5.501,2.456 C4.233,2.455 3.220,3.514 3.230,4.832 C3.239,6.134 4.252,7.167 5.513,7.162 C6.770,7.158 7.771,6.111 7.767,4.804 C7.762,3.498 6.758,2.457 5.501,2.456 Z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>

                        <div class="footer__title">
                            Создано при поддержки РосВуз
                        </div>
                        <ul class="footer__list rosvuz">
                            <li>
                                <a href="https://rosvuz.ru">
                                    <img src="../../../resources/img/rosvuz.png" class="img-fluid" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            Все права защищены и охраняются действующим законодательством РФ. <br>
                            Использование материалов с данного сайта возможно только с письменного разрешения компании ED Hunter. Администрация сайта не несет ответственности за содержание размещенных объявлений.
                            <br>
                            <a class="footer_link" href="mailto:info@edhh.ru">info@edhh.ru</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {

    }
</script>
