<template>
    <section class="seo-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="seo-block__content" :class="{ show: showMore }" ref="seo">
                        <h2>
                            Работа в России
                        </h2>
                        <p>Работа - важная часть жизни почти каждого из нас. А если это любимая работа? Если профессия вам по душе и вы действительно нашли сферу деятельности, в которой можете реализовать свой потенциал? Тогда вам действительно повезло.</p>
                        <p>Мы, команда <a href="https://edhh.ru">edhh.ru</a> нашли себя в сфере образования и теперь рады дать такую возможность всем, кто планирует строить карьеру в научно-образовательной отрасли, а также тем, кто хочет или вынужден сменить направление деятельности. Ведь не стоит забывать: случается, что однажды приходится менять место работы и с головой погружаться в поиск вакансий &mdash; ведь мы стремимся найти хорошую альтернативу сегодняшней должности.</p>
                        <p>&laquo;Как теперь найти хорошую работу в Москве? Как подобрать достойную вакансию в моем регионе? А главное, какой должна быть эта работа?&raquo; - эти и многие другие вопросы не покидают нас ни на минуту при поиске нового места или сферы деятельности.</p>
                        <p>Портал <a href="https://edhh.ru">edhh.ru</a> создан специально для тех, кто ищет и предлагает работу самых различных профилей в образовательных и научных учреждениях. Предлагаете работу учителя в школе? преподавателя в институте? Это к нам. Хотите работать бухгалтером в детском саду или поваром в НИИ? Это тоже к нам. EdHunter - это вакансии учебных заведений и научных учреждений по всей России. Решите вопрос трудоустройства и поиска сотрудников вместе с нами!</p>
                        <p>С уважением,<br />
                            команда EdHunter</p>
                    </div>

                    <button class="link-dots" v-show="showBtn" @click="showMoreText()">
                        <span v-if="showMore === false">
                            Показать полностью
                        </span>
                        <span v-else>
                            Скрыть
                        </span>
                    </button>

                </div>
            </div>
        </div>
    </section>
</template>

<script>

    export default {
        data(){
            return {
                showMore: false,
                showBtn: false
            }
        },
        methods: {
            showMoreText(){
                this.showMore = !this.showMore;
            },
            matchHeight () {
                let height = this.$refs.seo.clientHeight;
                if(height > 150){
                    this.showBtn = true
                }
            }
        },
        mounted () {
            this.matchHeight()
        },

    }
</script>
