<template>
    <div>
        <h2 class="auth-title" :class="{ 'd-none': showVerify }">
            Зарегистрироваться как:
        </h2>

        <div>
            <div class="type__register" :class="{'d-none': showVerify }">
                <label class="type__register-input " :class="{'active': typeRegister == 0}">
                    <input type="radio" value="0" v-model="typeRegister">
                    <span>Соискатель</span>
                </label>
                <label class="type__register-input" :class="{'active': typeRegister == 1}">
                    <input type="radio" name="type-register" value="1" v-model="typeRegister">
                    <span>Работодатель</span>
                </label>
            </div>

            <div v-if="typeRegister == 0">
                <app-auth-job-seeker :data="parseData"></app-auth-job-seeker>
            </div>

            <div v-else>
                <app-auth-employer :data="parseData"></app-auth-employer>
            </div>
        </div>

        <div class="auth-block__footer" :class="{ 'd-none': typeRegister == 1 }">
            <div class="auth-block__or">
                <span>или</span>
            </div>
            <div class="auth-block__social-text">
                Войти с помощью социальных сетей:
            </div>
            <div class="auth-block__social">
                <a class="auth-block__social-link" href="/login/with/vkontakte/job_seeker">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 23 13"
                            width="23px" height="13px">
                        <path fill-rule="evenodd" fill="rgb(68, 103, 141)"
                              d="M22.877,11.742 C22.849,11.683 22.823,11.633 22.799,11.594 C22.400,10.881 21.637,10.007 20.512,8.971 L20.488,8.947 L20.476,8.936 L20.464,8.923 L20.452,8.923 C19.941,8.441 19.618,8.117 19.482,7.950 C19.234,7.634 19.179,7.313 19.314,6.989 C19.410,6.743 19.769,6.226 20.392,5.434 C20.719,5.015 20.979,4.679 21.170,4.426 C22.551,2.606 23.150,1.443 22.966,0.937 L22.895,0.818 C22.847,0.747 22.723,0.682 22.524,0.622 C22.324,0.563 22.069,0.553 21.757,0.593 L18.309,0.617 C18.253,0.597 18.173,0.599 18.070,0.622 C17.966,0.646 17.914,0.658 17.914,0.658 L17.854,0.688 L17.806,0.724 C17.766,0.747 17.722,0.789 17.674,0.848 C17.627,0.907 17.587,0.977 17.555,1.056 C17.180,2.013 16.753,2.903 16.274,3.726 C15.978,4.216 15.707,4.641 15.459,5.002 C15.212,5.362 15.004,5.627 14.837,5.797 C14.669,5.967 14.518,6.103 14.382,6.206 C14.246,6.309 14.142,6.352 14.071,6.337 C13.999,6.321 13.931,6.305 13.867,6.289 C13.755,6.218 13.665,6.121 13.598,5.998 C13.530,5.876 13.484,5.721 13.460,5.535 C13.436,5.349 13.422,5.189 13.418,5.055 C13.414,4.920 13.416,4.730 13.424,4.485 C13.432,4.240 13.436,4.074 13.436,3.987 C13.436,3.686 13.442,3.360 13.454,3.008 C13.466,2.656 13.476,2.377 13.484,2.171 C13.492,1.966 13.496,1.748 13.496,1.518 C13.496,1.289 13.482,1.109 13.454,0.978 C13.426,0.848 13.384,0.721 13.328,0.599 C13.272,0.476 13.190,0.381 13.083,0.314 C12.975,0.247 12.841,0.193 12.682,0.153 C12.259,0.059 11.720,0.007 11.065,-0.001 C9.581,-0.016 8.627,0.078 8.203,0.284 C8.036,0.371 7.884,0.490 7.748,0.640 C7.605,0.814 7.585,0.909 7.688,0.925 C8.167,0.996 8.507,1.166 8.706,1.435 L8.778,1.578 C8.834,1.681 8.890,1.863 8.946,2.124 C9.002,2.385 9.038,2.673 9.053,2.990 C9.093,3.567 9.093,4.062 9.053,4.473 C9.013,4.885 8.976,5.205 8.940,5.434 C8.904,5.664 8.850,5.850 8.778,5.992 C8.706,6.135 8.658,6.222 8.634,6.253 C8.610,6.285 8.590,6.305 8.575,6.313 C8.471,6.352 8.363,6.372 8.251,6.372 C8.139,6.372 8.004,6.317 7.844,6.206 C7.684,6.095 7.519,5.943 7.347,5.749 C7.176,5.555 6.982,5.284 6.766,4.936 C6.551,4.588 6.327,4.176 6.096,3.702 L5.904,3.358 C5.785,3.136 5.621,2.814 5.414,2.390 C5.206,1.967 5.022,1.558 4.863,1.162 C4.799,0.996 4.703,0.869 4.575,0.782 L4.516,0.747 C4.476,0.715 4.412,0.681 4.324,0.646 C4.236,0.610 4.144,0.584 4.049,0.569 L0.768,0.592 C0.432,0.592 0.205,0.668 0.085,0.818 L0.037,0.889 C0.013,0.928 0.001,0.992 0.001,1.079 C0.001,1.166 0.025,1.273 0.073,1.399 C0.552,2.515 1.073,3.591 1.636,4.627 C2.198,5.664 2.687,6.498 3.102,7.131 C3.517,7.764 3.941,8.361 4.372,8.923 C4.803,9.485 5.088,9.845 5.228,10.003 C5.367,10.161 5.477,10.280 5.557,10.359 L5.856,10.644 C6.048,10.834 6.329,11.061 6.701,11.326 C7.072,11.591 7.483,11.852 7.934,12.110 C8.385,12.366 8.910,12.576 9.509,12.738 C10.107,12.901 10.690,12.966 11.257,12.934 L12.634,12.934 C12.913,12.910 13.125,12.823 13.268,12.673 L13.316,12.614 C13.348,12.566 13.378,12.493 13.406,12.394 C13.434,12.295 13.448,12.187 13.448,12.068 C13.439,11.728 13.465,11.421 13.525,11.148 C13.585,10.876 13.653,10.670 13.729,10.531 C13.805,10.393 13.891,10.276 13.986,10.181 C14.082,10.087 14.150,10.029 14.190,10.009 C14.230,9.989 14.262,9.976 14.286,9.968 C14.477,9.904 14.703,9.966 14.962,10.152 C15.222,10.338 15.465,10.567 15.693,10.840 C15.920,11.113 16.194,11.420 16.513,11.760 C16.833,12.100 17.112,12.353 17.351,12.519 L17.591,12.662 C17.750,12.757 17.958,12.844 18.214,12.923 C18.468,13.002 18.692,13.022 18.884,12.982 L21.949,12.935 C22.252,12.935 22.488,12.885 22.655,12.786 C22.823,12.688 22.923,12.579 22.955,12.460 C22.987,12.341 22.989,12.207 22.961,12.056 C22.933,11.906 22.905,11.801 22.877,11.742 Z"/>
                    </svg>
                </a>
                <a class="auth-block__social-link" href="/login/with/facebook/job_seeker">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 10 22"
                            width="10px" height="22px">
                        <path fill-rule="evenodd" fill="rgb(5, 86, 170)"
                              d="M6.815,21.989 L6.815,12.090 L9.546,12.090 L9.992,7.691 L6.815,7.691 L6.815,5.548 C6.815,4.416 6.841,3.292 8.279,3.292 L9.737,3.292 L9.737,0.146 C9.737,0.098 8.485,-0.008 7.219,-0.008 C4.575,-0.008 2.919,1.814 2.919,5.161 L2.919,7.691 L-0.003,7.691 L-0.003,12.090 L2.919,12.090 L2.919,21.989 L6.815,21.989 Z"/>
                    </svg>
                </a>
                <a class="auth-block__social-link" href="/login/with/google/job_seeker">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512"
                         width="22px" height="22px"
                    >
                        <path style="fill:#FBBB00;"
                              d="M113.47,309.408L95.648,375.94l-65.139,1.378C11.042,341.211,0,299.9,0,256  c0-42.451,10.324-82.483,28.624-117.732h0.014l57.992,10.632l25.404,57.644c-5.317,15.501-8.215,32.141-8.215,49.456  C103.821,274.792,107.225,292.797,113.47,309.408z"/>
                        <path style="fill:#518EF8;"
                              d="M507.527,208.176C510.467,223.662,512,239.655,512,256c0,18.328-1.927,36.206-5.598,53.451  c-12.462,58.683-45.025,109.925-90.134,146.187l-0.014-0.014l-73.044-3.727l-10.338-64.535  c29.932-17.554,53.324-45.025,65.646-77.911h-136.89V208.176h138.887L507.527,208.176L507.527,208.176z"/>
                        <path style="fill:#28B446;"
                              d="M416.253,455.624l0.014,0.014C372.396,490.901,316.666,512,256,512  c-97.491,0-182.252-54.491-225.491-134.681l82.961-67.91c21.619,57.698,77.278,98.771,142.53,98.771  c28.047,0,54.323-7.582,76.87-20.818L416.253,455.624z"/>
                        <path style="fill:#F14336;"
                              d="M419.404,58.936l-82.933,67.896c-23.335-14.586-50.919-23.012-80.471-23.012  c-66.729,0-123.429,42.957-143.965,102.724l-83.397-68.276h-0.014C71.23,56.123,157.06,0,256,0  C318.115,0,375.068,22.126,419.404,58.936z"/>
                    </svg>
                </a>
            </div>
            <div class="auth-block__text">
                Нажимая на кнопку «Продолжить», Вы даёте согласие на
                обработку персональных данных, полностью соглашаетесь с
                <a target="_blank" href="/about-us/conditions/" class="link-default">условиями использования сайта</a>
            </div>
        </div>

    </div>
</template>

<script>

    import AppAuthJobSeeker from './AppAuthJobSeeker'
    import AppAuthEmployer from './AppAuthEmployer'

    export default {
        name: "AppAuthRegistration",
        components: {AppAuthEmployer, AppAuthJobSeeker},
        component: {
            AppAuthJobSeeker,
            AppAuthEmployer,
        },
        props: ['data', 'type'],
        data() {
            return {
                typeRegister: 0,
                parseData: null
            }
        },
        created(){
            this.parseData = JSON.parse(this.data);
            this.typeRegister = this.type;
        },
        computed: {
            showVerify(){
                return this.$store.getters.showVerify;
            }
        }
    }
</script>

<style scoped>

</style>
